<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <%= render 'form', room: Room.new %>
      <hr>

      <% @rooms.each do |room| %>
        <%= link_to room do %>
          <div class="card mb-2">
            <div class="card-body">
              <%= room.name %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-9">
      <% if @room.present? %>
        <div class="chat-room">
          <nav class="navbar navbar-light bg-light mb-4">
            <span class="navbar-brand" href="#">
              <%= @room.name %>
            </span>

            <ul class="navbar-nav">
              <li class="nav-item">
                Hello, <%= current_user.name %>
              </li>
            </ul>
          </nav>

          <div id="messages">
            <% @room.messages.each do |message| %>
              <%= render 'messages/message', message: message %>
            <% end %>
          </div>

          <div class="chat-box">
            <%= render 'messages/form', message: Message.new, room: @room, user: current_user %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
